@using Record_Store;
@using RecordStoreBlazor.Components.Pages;
@rendermode InteractiveAuto
@page "/"

<PageTitle>Home</PageTitle>

<p>Welcome to Legally Acquired Music! Please <NavLink href="/albums">click here to see our available albums</NavLink>, or <NavLink href="/albums/add">click here to add a new one</NavLink>!</p>

@code {

}
