<div class="navbar-menu">
	<NavLink class="navbar-item" href ="/">Home</NavLink>
	<NavLink class="navbar-item" href="/albums">Albums</NavLink>
	<NavLink class="navbar-item" href="/albums/add">Add Album</NavLink>
</div>

@code {

}
