@using RecordStoreBlazor.Components.Pages;
@inherits LayoutComponentBase

<header>
    <h1>Legally Acquired Music</h1>
    <h2>Where you can buy music that we bought for slightly more than we bought it for so that we can make money and continue to do this.</h2>
    <NavMenu></NavMenu>
</header>
<div class="page">

    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<footer>
    <div class="justify-content-evenly">
        <p>Carlyle Laurent</p>
        <p>2025</p>
    </div>
</footer>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
